/*sets all elements box size, padding, and margin*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*sets background color of page*/
body {
    background-color: #d9dcd6;
}
/*sets font, padding, color and bakground color of header*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*sets font size for header*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/*sets section indicated SEO to color*/ 
.header h1 .seo {
    color: #d9dcd6;
}
/*sets padding, margin, float, font family, and font size to header h2*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*adds margin to left*/
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/*adds specificity to color and text decoration*/
a {
    color: #ffffff;
    text-decoration: none;
}
/*adds type selector for font size*/
p {
    font-size: 16px;
}
/*sets backgroung image size, position, margin, and URL*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*sets image to left of text in same box*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*sets image to right of text in same box*/
.float-right {
    float: right;
    margin-left: 25px;
}
/*sets width, display type, and margin to SEO, ORM, SSM blocks*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*sets margin, padding, clear, float, width, height, font family, and backgrounf color to block on right of page including LG, BA, CM*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*sets margin and color for Lead Generation*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}
/*sets margin and color for Brand Awareness*/
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}
/*sets margin and color for Cost Management*/
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/*sets margin bottom and text align for Lead Generation*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*sets margin bottom and text align for Brand Awareness*/
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*sets margin bottom and text align for Cost Management*/
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*sets image margin, width with max, and display type*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*sets image margin, width with max, and display type*/
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*sets image margin, width with max, and display type*/
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*sets image margin, padding, height, font family, color, and backgrounf color*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*sets image margin, padding, height, font family, color, and backgrounf color*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*sets image margin, padding, height, font family, color, and backgrounf color*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*sets max height for image*/
.search-engine-optimization img {
    max-height: 200px;
}
/*sets max height for image*/
.online-reputation-management img {
    max-height: 200px;
}
/*sets max height for image*/
.social-media-marketing img {
    max-height: 200px;
}
/*sets margin and font for heading*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*sets margin and font for heading*/
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*sets margin and font for heading*/
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*sets padding, clear, font family, and font align*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*sets font size for footer*/
.footer h2 {
    font-size: 20px;
}
